<div class="col-8">
        <h2>Your Encounters</h2>
        <div class="model-navbar-outer">
            <div class="model-navbar-inner">
                <div class="left">
                    <h4>Options</h4>
                </div>
                <div class="right">
                    <%= button_to  "Create a New Encounter", new_encounter_path, method: :get, class: "btn btn-primary" %>
                </div>    
            </div>
        </div>
    <% if @encounters.empty?%>
        <p>Looks like you haven't created anything yet!</p>
    <% else %>
        <div class="accordion" id="modelAccordion">
            <% @encounters.each do |encounter| %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= encounter.id %>">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= encounter.id %>" aria-expanded="true" aria-controls="collapse<%= encounter.id %>">
                            <%= encounter.name %>
                        </button>
                    </h2>
                    <div id="collapse<%= encounter.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= encounter.id %>" data-bs-parent="#modelAccordion">
                        <div class="accordion-body">
                            <p>Description: <%= encounter.description %></p>
                            <%= button_to  "View Encounter", encounter_path(encounter), method: :get, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div> 