<h2>Name: <%= @encounter.name %></h2>
<p>Description: <%= @encounter.description %></p>
<%# Add Averages %>


<h2>PC's</h2>
<div class="accordion" id="accordionPcEncounter">
    <% @encounter.pcs.each do |pc| %>
          <div class="card">
            <div class="card-header" id="headingPc<%= pc.id %>">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePc<%= pc.id %>" aria-expanded="true" aria-controls="collapsePc<%= pc.id %>">
                        <%= pc.name %>
                    </button>
                </h2>
            </div>

            <div id="collapsePc<%= pc.id %>" class="collapse" aria-labelledby="headingPc<%= pc.id %>" data-parent="#accordionPcEncounter">
                <div class="card-body">
                    <%= pc.description %>
                </div>
            </div>
        </div>
    <% end %>
</div> 
 
<h2>NPC's</h2>
<div class="accordion" id="accordionNpcEncounter">
    <% @encounter.npcs.each do |npc| %>
          <div class="card">
            <div class="card-header" id="headingNpc<%= npc.id %>">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseNpc<%= npc.id %>" aria-expanded="true" aria-controls="collapseNpc<%= npc.id %>">
                        <%= npc.name %>
                    </button>
                </h2>
            </div>

            <div id="collapseNpc<%= npc.id %>" class="collapse" aria-labelledby="headingNpc<%= npc.id %>" data-parent="#accordionNpcEncounter">
                <div class="card-body">
                    <%= npc.description %>
                </div>
            </div>
        </div>
    <% end %>
</div> 


<%= button_to "Edit Encounter", edit_encounter_path(@encounter), method: :get, class: "btn btn-primary" %>
<%= button_to "Delete Encounter", encounter_path(@encounter), method: :delete, class: "btn btn-primary",  data: { confirm: "Are you sure you want to delete?" } %>
