<div class="col-8">
    <h2><%= @encounter.name %></h2>
    <div class="model-navbar-outer">
        <div class="model-navbar-inner">
            <div class="left">
                <h4>Options</h4>
            </div>
            <div class="right">
                <%= button_to "Edit Encounter", edit_encounter_path(@encounter), method: :get, class: "btn btn-primary" %>
                <%= button_to "Delete Encounter", encounter_path(@encounter), method: :delete, class: "btn btn-primary",  data: { confirm: "Are you sure you want to delete?" } %>
            </div>    
        </div>
    </div>
    <p>Description: <%= @encounter.description %></p>
    <div class="inner-model-section">
        <h4>PC's</h4>
        <% if @encounter.pcs.empty?%>
            <p>Looks like you haven't selected any PC's for this encounter yet!</p>
        <% else %>
        <div class="accordion" id="modelPCAccordion">
                <% @encounter.pcs.each do |pc| %>
                    <% uniqueId = SecureRandom.alphanumeric %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading<%= uniqueId %>">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= uniqueId %>" aria-expanded="true" aria-controls="collapse<%= uniqueId %>">
                                <%= pc.name %>
                            </button>
                        </h2>
                        <div id="collapse<%= uniqueId %>" class="accordion-collapse collapse" aria-labelledby="heading<%= uniqueId %>" data-bs-parent="#modelPCAccordion">
                            <div class="accordion-body">
                                <p>Description: <%= pc.description %></p>
                                <%= button_to  "View PC", pc_path(pc), method: :get, class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="inner-model-section">
        <h4>NPC's</h4>
        <% if @encounter.npcs.empty?%>
            <p>Looks like you haven't selected any NPC's for this encounter yet!</p>
        <% else %>
        <div class="accordion" id="modelNPCAccordion">
                <% @encounter.npcs.each do |npc| %>
                    <% uniqueId = SecureRandom.alphanumeric %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading<%= uniqueId %>">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= uniqueId %>" aria-expanded="true" aria-controls="collapse<%= uniqueId %>">
                                <%= npc.name %>
                            </button>
                        </h2>
                        <div id="collapse<%= uniqueId %>" class="accordion-collapse collapse" aria-labelledby="heading<%= uniqueId %>" data-bs-parent="#modelNPCAccordion">
                            <div class="accordion-body">
                                <p>Description: <%= npc.description %></p>
                                <%= button_to  "View NPC", npc_path(npc), method: :get, class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>      
</div>
