<div class="col-8">
        <h2>Your PCs</h2>
        <div class="model-navbar-outer">
            <div class="model-navbar-inner">
                <div class="left">
                    <h4>Options</h4>
                </div>
                <div class="right">
                    <%= button_to  "Create a New PC", new_pc_path, method: :get, class: "btn btn-primary" %>
                </div>    
            </div>
        </div>
    <% if @pcs.empty?%>
        <p>Looks like you haven't created anything yet!</p>
    <% else %>
        <div class="accordion" id="modelAccordion">
            <% @pcs.each do |pc| %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= pc.id %>">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= pc.id %>" aria-expanded="true" aria-controls="collapse<%= pc.id %>">
                            <%= pc.name %>
                        </button>
                    </h2>
                    <div id="collapse<%= pc.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= pc.id %>" data-bs-parent="#modelAccordion">
                        <div class="accordion-body">
                            <p>Description: <%= pc.description %></p>
                            <%= button_to  "View PC", pc_path(pc), method: :get, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div> 