<div class="col-8">
        <h2>Your NPCs</h2>
        <div class="model-navbar-outer">
            <div class="model-navbar-inner">
                <div class="left">
                    <h4>Options</h4>
                </div>
                <div class="right">
                    <%= button_to  "Create a New NPC", new_npc_path, method: :get, class: "btn btn-primary" %>
                </div>    
            </div>
        </div>
    <% if @npcs.empty?%>
        <p>Looks like you haven't created anything yet!</p>
    <% else %>
        <div class="accordion" id="modelAccordion">
            <% @npcs.each do |npc| %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= npc.id %>">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= npc.id %>" aria-expanded="true" aria-controls="collapse<%= npc.id %>">
                            <%= npc.name %>
                        </button>
                    </h2>
                    <div id="collapse<%= npc.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= npc.id %>" data-bs-parent="#modelAccordion">
                        <div class="accordion-body">
                            <p>Description: <%= npc.description %></p>
                            <%= button_to  "View NPC", npc_path(npc), method: :get, class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div> 