<%= form_for @encounter do |f| %>
    <h3>Encounter</h3>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :description, "Descripion" %>
    <%= f.text_area :description, class: "form-control" %>

    <h3>Existing PC's</h3>

    <h3>Existing NPC's</h3>
     

    <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>