<nav class="main navbar navbar-dark bg-secondary">
  <span class="navbar-title">Encounter Builder</span>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="main-nav" style="">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'My Account', user_path(current_user) %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", '/logout', method: :post, data: { confirm: "Are you sure you want to logout?" } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Create Account', new_user_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path %>
        </li>
         <li class="nav-item">
          <%= link_to('Login with Facebook', '/auth/facebook') %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>